{{printf "%s %s - %s" (msg . "source.create") (or .mProject.DisplayName .mProject.Name) (msg . "moefeed") | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="row">
        <div class="span8 offset2">
          <form class="form-horizontal" method="POST">
            <fieldset>
              <div id="legend" class="">
                <legend class="">{{msg . "source.create"}}</legend>
              </div>
              {{template "flash.html" .}}
              <div class="control-group">
                <label class="control-label" for="source-Name">{{msg . "source.name"}}</label>
                <div class="controls">
                  <input type="text" required name="source.Name" id="source-Name" class="input-xlarge">
                  <p class="help-block">{{msg . "source.name.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="source-Type">{{msg . "source.type"}}</label>
                <div class="controls">
                  <select name="source.Type" id="source-Type" class="input-xlarge">
                    <option value="0">RSS订阅</option>
                    <option value="1">Atom订阅</option>
                    <option value="2">Html订阅</option>
                  </select>
                  <p class="help-block">{{msg . "source.type.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="source-Data">{{msg . "source.data"}}</label>
                <div class="controls">
                  <textarea name="source.Data" id="source-Data" cols="30" rows="10" class="input-xlarge" placeholder='{ "key":"value" }'></textarea>
                  <p class="help-block">{{msg . "source.data.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button class="btn btn-success">{{msg . "source.create.action"}}</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{{template "footer.html" .}}
