{{set . "title" "节操存放处 - 萌更新"}}
{{template "header.html" .}}
    <div class="container">
      <div class="sysboard row">
        <div id="sidenav" class="span3 sidebar hidden-phone">
          <ul class="nav nav-list sidenav" data-spy="affix" data-offset-top="200">
            <li><a href="#overview"><i class="icon-chevron-right"></i> 概览</a></li>
            <li><a href="#useradd"><i class="icon-chevron-right"></i> 添加用户</a></li>
          </ul>
        </div>
        <div class="span9">
          <div class="page-header">
            <h1>系统管理面板</h1>
            <p>节操都放在这里</p>
          </div>

        </div>
      </div>
    </div>
{{template "footer.html" .}}