{{printf "%s - %s" (or .mProject.DisplayName .mProject.Name) (msg . "moefeed") | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="pagehead repohead instapaper_ignore readability-menu row">
        <div class="container span8 offset2">
          <h1 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="entry-title public">
            <span class="repo-label hidden-phone">{{msg . (.mProject.TypeName)}}</span>
            <span class="mega-octicon octicon-repo"></span>
            <span class="author">
              <a href="/{{urlquery .mProject.Owner.Username}}" class="url fn" itemprop="url" rel="author"><span itemprop="title">{{or .mProject.Owner.DisplayName .mProject.Owner.Username}}</span></a>
            </span>
            <span class="repohead-name-divider">/</span>
            <strong>{{printf "/%s/%s" .mProject.Owner.Username .mProject.Name | set . "pageurl"}}
              <a href="{{.pageurl}}">{{or .mProject.DisplayName .mProject.Name}}</a>
            </strong>
          </h1>
        </div>
      </div>
      <div class="container">
        <div class="project row">
          <div id="sidenav" class="span3 sidebar hidden-phone">
            <ul class="nav nav-list sidenav" data-spy="affix" data-offset-top="200">
              <li><a href="#overview"><i class="icon-chevron-right"></i> {{msg . "overview"}}</a></li>
              <li><a href="#source"><i class="icon-chevron-right"></i> {{msg . "source"}}</a></li>
              <li><a href="#filter"><i class="icon-chevron-right"></i> {{msg . "filter"}}</a></li>
              <li><a href="#target"><i class="icon-chevron-right"></i> {{msg . "target"}}</a></li>
              <li><a href="#resource"><i class="icon-chevron-right"></i> {{msg . "resource"}}</a></li>
              <li><a href="#callback"><i class="icon-chevron-right"></i> {{msg . "callback"}}</a></li>
            </ul>
          </div>
          <div class="span9">{{$ := .}}
            <section id="overview">
              <div class="page-header">
                <h1>{{msg . "overview"}}</h1>
                <p class="muted">{{msg . "overview.desc"}}</p>
              </div>
              <div class="dlist">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>{{msg . "channel"}}</th>
                      <th>{{msg . "run.source"}}</th>
                      <th>{{msg . "run.filter"}}</th>
                      <th>{{msg . "run.target"}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>萌娘百科->新浪微博</td>
                      <td>233</td>
                      <td>233</td>
                      <td>233</td>
                    </tr>
                    <tr>
                      <td>{{msg . "run.all"}}</td>
                      <td>233</td>
                      <td>233</td>
                      <td>233</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="span12"></div>
            </section>
            <section id="source">
              <div class="page-header">
                <h1>{{msg . "source"}}
                  {{if .mEditable}}<a href="{{.pageurl}}/source/new" title="{{msg . "source.create.desc"}}" class="btn"><i class="icon-plus-sign"></i></a>{{end}}
                </h1>
                <p class="muted">{{msg . "source.desc"}}</p>
              </div>{{range .mSources}}
              <article>
                <h2>{{.Name}}</h2>
                <div class="dlist">
                  <table class="table table-hover{{if $.mEditable}} editable{{end}}">
                    <thead>
                      <tr>
                        <th>{{msg $ "viewdata.key"}}</th>
                        <th>{{msg $ "viewdata.value"}}</th>{{if $.mEditable}}
                        <th>{{msg $ "viewdata.edit"}}</th>{{end}}
                      </tr>
                    </thead>
                    <tbody>{{range .ViewData}}
                      <tr>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Key}}">{{else}}{{.Key}}{{end}}
                        </td>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Value}}">{{else}}{{.Value}}{{end}}
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-danger btn-block" href="#"><i class="icon-trash icon-white"></i> {{msg $ "viewdata.delete"}}</a>
                        </td>{{end}}
                      </tr>{{end}}
                      <tr>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.key.new"}}">
                        </td>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.value.new"}}">
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-success btn-block" href="#"><i class="icon-plus-sign icon-white"></i> {{msg $ "viewdata.add"}}</a>
                        </td>{{end}}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </article>{{end}}
            </section>
            <section id="filter">
              <div class="page-header">
                <h1>{{msg . "filter"}}
                  {{if .mEditable}}<a href="{{.pageurl}}/filter/new" title="{{msg . "filter.create.desc"}}" class="btn"><i class="icon-plus-sign"></i></a>{{end}}
                </h1>
                <p class="muted">{{msg . "filter.desc"}}</p>
              </div>{{range .mFilter}}
              <article>
                <h2>{{.Name}}</h2>
                <div class="dlist">
                  <table class="table table-hover{{if $.mEditable}} editable{{end}}">
                    <thead>
                      <tr>
                        <th>{{msg $ "viewdata.key"}}</th>
                        <th>{{msg $ "viewdata.value"}}</th>{{if $.mEditable}}
                        <th>{{msg $ "viewdata.edit"}}</th>{{end}}
                      </tr>
                    </thead>
                    <tbody>{{range .ViewData}}
                      <tr>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Key}}">{{else}}{{.Key}}{{end}}
                        </td>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Value}}">{{else}}{{.Value}}{{end}}
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-danger btn-block" href="#"><i class="icon-trash icon-white"></i> {{msg $ "viewdata.delete"}}</a>
                        </td>{{end}}
                      </tr>{{end}}
                      <tr>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.key.new"}}">
                        </td>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.value.new"}}">
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-success btn-block" href="#"><i class="icon-plus-sign icon-white"></i> {{msg $ "viewdata.add"}}</a>
                        </td>{{end}}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </article>{{end}}
            </section>
            <section id="target">
              <div class="page-header">
                <h1>{{msg . "target"}}
                  {{if .mEditable}}<a href="{{.pageurl}}/target/new" title="{{msg . "target.create.desc"}}" class="btn"><i class="icon-plus-sign"></i></a>{{end}}
                </h1>
                <p class="muted">{{msg . "target.desc"}}</p>
              </div>{{range .mTarget}}
              <article>
                <h2>{{.Name}}</h2>
                <div class="dlist">
                  <table class="table table-hover{{if $.mEditable}} editable{{end}}">
                    <thead>
                      <tr>
                        <th>{{msg $ "viewdata.key"}}</th>
                        <th>{{msg $ "viewdata.value"}}</th>{{if $.mEditable}}
                        <th>{{msg $ "viewdata.edit"}}</th>{{end}}
                      </tr>
                    </thead>
                    <tbody>{{range .ViewData}}
                      <tr>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Key}}">{{else}}{{.Key}}{{end}}
                        </td>
                        <td>
                          {{if $.mEditable}}<input type="text" value="{{.Value}}">{{else}}{{.Value}}{{end}}
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-danger btn-block" href="#"><i class="icon-trash icon-white"></i> {{msg $ "viewdata.delete"}}</a>
                        </td>{{end}}
                      </tr>{{end}}
                      <tr>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.key.new"}}">
                        </td>
                        <td>
                          <input type="text" placeholder="{{msg $ "viewdata.value.new"}}">
                        </td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-success btn-block" href="#"><i class="icon-plus-sign icon-white"></i> {{msg $ "viewdata.add"}}</a>
                        </td>{{end}}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </article>{{end}}
            </section>
            <section id="resource">
              <div class="page-header">
                <h1>{{msg . "resource"}}
                  {{if .mEditable}}<a href="{{.pageurl}}/resource/new" title="{{msg . "resource.create.desc"}}" class="btn"><i class="icon-plus-sign"></i></a>{{end}}
                </h1>
                <p class="muted">{{msg $ "resource.desc"}}</p>
              </div>
              <article>
                <h2>{{msg . "resource.list"}}</h2>
                <div class="dlist">
                  <table class="table table-hover{{if $.mEditable}} editable{{end}}">
                    <thead>
                      <tr>
                        <th>{{msg $ "resource.name.short"}}</th>
                        <th>{{msg $ "resource.size.short"}}</th>
                        <th>{{msg $ "resource.md5.short"}}</th>
                        <th>{{msg $ "resource.file.short"}}</th>{{if $.mEditable}}
                        <th>{{msg $ "resource.edit.short"}}</th>{{end}}
                      </tr>
                    </thead>
                    <tbody>{{range .mResources}}
                      <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Size}}</td>
                        <td>{{.Hash}}</td>
                        <td>
                          <input type="file">
                        </td>
                        <td>{{if $.mEditable}}
                          <a class="btn btn-danger btn-block" href="#"><i class="icon-trash icon-white"></i> {{msg $ "viewdata.delete"}}</a>
                        </td>{{end}}
                      </tr>{{end}}
                    </tbody>
                  </table>
                </div>
              </article>
            </section>
            <section id="callback">
              <div class="page-header">
                <h1>{{msg . "callback"}}
                  {{if $.mEditable}}<a href="{{.pageurl}}/callback/new" title="{{msg . "callback.create.desc"}}" class="btn"><i class="icon-plus-sign"></i></a>{{end}}
                </h1>
                <p class="muted">{{msg . "callback.desc"}}</p>
              </div>
              <article>
                <h2>{{msg . "callback.list"}}</h2>
                <div class="dlist">
                  <table class="table table-hover{{if $.mEditable}} editable{{end}}">
                    <thead>
                      <tr>
                        <th>{{msg $ "callback.name.short"}}</th>
                        <th>{{msg $ "callback.url.short"}}</th>
                        <th>{{msg $ "callback.type.short"}}</th>{{if $.mEditable}}
                        <th>{{msg $ "callback.edit.short"}}</th>{{end}}
                      </tr>
                    </thead>
                    <tbody>{{range .mCallbacks}}
                      <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Url}}</td>
                        <td>{{.Type}}</td>{{if $.mEditable}}
                        <td>
                          <a class="btn btn-danger btn-block" href="#"><i class="icon-trash icon-white"></i> {{msg $ "viewdata.delete"}}</a>
                        </td>{{end}}
                      </tr>{{end}}
                    </tbody>
                  </table>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
{{template "footer.html" .}}