{{or .mProject.DisplayName .mProject.Name | printf "%s - 萌更新" | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="pagehead repohead instapaper_ignore readability-menu row">
        <div class="container span8 offset2">
          <h1 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="entry-title public">
            <span class="repo-label hidden-phone">公开</span>
            <span class="mega-octicon octicon-repo"></span>
            <span class="author">
              <a href="/{{urlquery .mProject.Owner.Username}}" class="url fn" itemprop="url" rel="author"><span itemprop="title">{{or .mProject.Owner.DisplayName .mProject.Owner.Username}}</span></a>
            </span>
            <span class="repohead-name-divider">/</span>
            <strong>{{printf "/%s/%s" .mProject.Owner.Username .mProject.Name | set . "pageurl"}}
              <a href="{{.pageurl}}">{{or .mProject.DisplayName .mProject.Name}}</a>
            </strong>
          </h1>
        </div>
      </div>
      <div class="container">
        <div class="project row">
          <div id="sidenav" class="span3 sidebar hidden-phone">
            <ul class="nav nav-list sidenav" data-spy="affix" data-offset-top="200">
              <li><a href="#overview"><i class="icon-chevron-right"></i> 概览</a></li>
              <li><a href="#source"><i class="icon-chevron-right"></i> 来源点</a></li>
              <li><a href="#filter"><i class="icon-chevron-right"></i> 过滤器</a></li>
              <li><a href="#target"><i class="icon-chevron-right"></i> 目标点</a></li>
              <li><a href="#resource"><i class="icon-chevron-right"></i> 资源</a></li>
              <li><a href="#callback"><i class="icon-chevron-right"></i> 回调</a></li>
            </ul>
          </div>
          <div class="span9">
            <section id="overview">
              <div class="page-header">
                <h1>概览</h1>
                <p class="muted">显示项目运行状态</p>
              </div>
              <div class="dlist">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>路线</th>
                      <th>来源抓取</th>
                      <th>过滤运行</th>
                      <th>目标发送</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>萌娘百科->新浪微博</td>
                      <td>233</td>
                      <td>233</td>
                      <td>233</td>
                    </tr>
                    <tr>
                      <td>总计</td>
                      <td>233</td>
                      <td>233</td>
                      <td>233</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="span12"></div>
            </section>
            <section id="source">
              <div class="page-header">
                <h1>来源点<a href="{{.pageurl}}/source/new" title="创建一个来源点" class="btn"><i class="icon-plus-sign"></i></a></h1>
                <p class="muted">项目资讯来源</p>
              </div>{{template "dlist.html" .mSource}}
            </section>
            <section id="filter">
              <div class="page-header">
                <h1>过滤器<a href="{{.pageurl}}/filter/new" title="创建一个过滤器" class="btn"><i class="icon-plus-sign"></i></a></h1>
                <p class="muted">项目资讯处理方式</p>
              </div>{{template "dlist.html" .mFilter}}
            </section>
            <section id="target">
              <div class="page-header">
                <h1>目标点<a href="{{.pageurl}}/target/new" title="创建一个目标点" class="btn"><i class="icon-plus-sign"></i></a></h1>
                <p class="muted">项目最终目标</p>
              </div>{{template "dlist.html" .mTarget}}
            </section>
            <section id="resource">
              <div class="page-header">
                <h1>资源<a href="{{.pageurl}}/resource/new" title="创建一个资源" class="btn"><i class="icon-plus-sign"></i></a></h1>
                <p class="muted">资源文件 如过滤器文本 图片等 </p>
              </div>{{template "dlist.html" .mResource}}
            </section>
            <section id="callback">
              <div class="page-header">
                <h1>回调<a href="{{.pageurl}}/callback/new" title="创建一个回调" class="btn"><i class="icon-plus-sign"></i></a></h1>
                <p class="muted">监听特定url 实现外部hook回调(如weibo OAuth回调等)</p>
              </div>{{template "dlist.html" .mCallback}}
            </section>
          </div>
        </div>
      </div>
    </div>
{{template "footer.html" .}}
<script>
  $('#sidenav').scrollspy();
</script>