{{printf "%s - %s" (msg . "register") (msg . "moefeed") | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="row">
        <div class="span8 offset2">
          <form class="form-horizontal" method="POST">
            <fieldset>
              <input type="hidden" name="return_to" value="{{.return_to}}">
              <div id="legend" class="">
                <legend class="">{{msg . "register"}}</legend>
              </div>
              {{template "flash.html" .}}
              <div class="control-group">
                <label class="control-label" for="user-Email">{{msg . "email"}}</label>
                <div class="controls">
                  <input type="email" required name="user.Email" id="user-Email" placeholder="@exmaple.com" class="input-xlarge">
                  <p class="help-block">{{msg . "email.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="user-Username">{{msg . "username"}}</label>
                <div class="controls">
                  <input type="text" required name="user.Username" id="user-Username" class="input-xlarge">
                  <p class="help-block">{{msg . "username.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">{{msg . "password"}}</label>
                <div class="controls">
                  <input type="password" required name="password" id="password" class="input-xlarge">
                  <p class="help-block">{{msg . "password.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password2">{{msg . "password2"}}</label>
                <div class="controls">
                  <input type="password" required name="password2" id="password2" class="input-xlarge">
                  <p class="help-block">{{msg . "password2.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button class="btn btn-success">{{msg . "register.action"}}</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{{template "footer.html" .}}
