{{printf "%s - %s" (msg . "login") (msg . "moefeed") | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="row">
        <div class="span8 offset2">
          <form class="form-horizontal" method="POST">
            <fieldset>
              <input type="hidden" name="return_to" value="{{.return_to}}">
              <div id="legend" class="">
                <legend class="">{{msg . "login"}}</legend>
              </div>
              {{template "flash.html" .}}
              <div class="control-group">
                <label class="control-label" for="username">{{msg . "usernameoremail"}}</label>
                <div class="controls">
                  <input type="text" required name="username" id="username" class="input-xlarge">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">{{msg . "password"}}</label>
                <div class="controls">
                  <input type="password" required name="password" id="password" class="input-xlarge">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary">{{msg . "login.action"}}</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{{template "footer.html" .}}
