{{printf "%s %s - %s" (msg . "callback.create") (or .mProject.DisplayName .mProject.Name) (msg . "moefeed") | set . "title"}}{{template "header.html" .}}
    <div class="container main">
      <div class="row">
        <div class="span8 offset2">
          <form class="form-horizontal" method="POST">
            <fieldset>
              <div id="legend" class="">
                <legend class="">{{msg . "callback.create"}}</legend>
              </div>
              {{template "flash.html" .}}
              <div class="control-group">
                <label class="control-label" for="callback-Name">{{msg . "callback.name"}}</label>
                <div class="controls">
                  <input type="text" required name="callback.Name" id="callback-Name" class="input-xlarge">
                  <p class="help-block">{{msg . "callback.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="callback-Type">{{msg . "callback.type"}}</label>
                <div class="controls">
                  <select name="callback.Type" id="callback-Type" class="input-xlarge">
                    <option value="0">新浪微博OAuth2.0</option>
                    <option value="1">腾讯微博OAuth2.0</option>
                  </select>
                  <p class="help-block">{{msg . "callback.type.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="callback-Url">{{msg . "callback.url"}}</label>
                <div class="controls">
                  <input type="text" required name="callback.Url" id="callback-Url" placeholder="{{msg . "callback.url.example"}}" class="input-xlarge">
                  <p class="help-block">{{msg . "callback.url.desc"}}</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button class="btn btn-success">{{msg . "callback.create.action"}}</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{{template "footer.html" .}}
