    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">{{msg . "moefeed"}} <small>Platform</small></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">{{msg . "index"}}</a>
              </li>{{if .mUser}}
              <li class="">
                <a class="persona-logout" href="/logout">{{msg . "logout"}}</a>
              </li>{{else}}
              <li class="">
                <a href="/signup">{{msg . "signup.action"}}</a>
              </li>
              <li class="">
                <a class="persona-login" href="/login">{{msg . "login.action"}}</a>
              </li>{{end}}
              <li class="">
                <a href="/help">{{msg . "about"}}</a>
              </li>
            </ul>{{if .mUser}}
            <ul class="nav pull-right">
              <li class="">
                <a href="/projects/new">{{msg . "project.create"}}</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="/u/{{urlquery .mUser.Name}}">{{.mUser.DispName}}</a>
              </li>
            </ul>{{end}}
          </div>
        </div>
      </div>
    </nav>